
.dashboard {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
  }
  
  .dashboard-drawer {
    width: 240px;
    flex-shrink: 0;
  }
  
  .dashboard-title {
    padding: 16px;
    color: #0a6f9e;
    text-align: center;
    font-weight: bold;
  }
  
  .dashboard-header {
    margin-left: 0px;
    background-color: #3fb5b5;
    color: white;
    padding: 0.5rem;
    text-align: center;
  }
  
  .dashboard-container {
    margin-left: 240px;
    padding: 20px;
  }
  
  .dashboard-card {
    padding: 1.5rem;
    background-color: #ffffff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-chart {
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-activities {
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard-activities ul {
    list-style-type: none;
    padding: 0;
  }
  
  .dashboard-activities li {
    margin: 0.5rem 0;
  }
  